@font-face {
  font-family: "title";
  src: url(../Chakra_Petch/ChakraPetch-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "title";
  src: url(../Chakra_Petch/ChakraPetch-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "main";
  src: url(../Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: "title";
  font-weight: normal;
}

h1 {
  font-weight: bold;
}

.body-bg {
  background-image: url("../images/25501.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 130vh;
  position: relative;
  display: flex;
}

.search {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  align-items: center;
  border-radius: 60px;
  padding: 5px 20px;
}
.search input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
  color: white;
}
.search button {
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #4fc3dc;
}
.search button i {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.head i {
  background: -webkit-linear-gradient(#4fc3dc, rgba(255, 255, 255, 0.5333333333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-head {
  padding-block: 5px 2px;
  background: linear-gradient(rgba(79, 195, 220, 0.2666666667), rgba(255, 255, 255, 0.5333333333)) !important;
  box-shadow: 1px 1px 10px rgba(0, 70, 86, 0.473);
}

.item-width {
  width: 33.3333%;
  background-color: rgba(13, 202, 240, 0.2666666667);
  margin-inline: 10px;
  color: white;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
}
.item-width .item-head {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 75%;
  margin: auto;
}
.item-width .conditionIcon {
  width: 40px;
  height: 40px;
  transition: 0.3s all ease;
}

.dayOne, .dayTwo, .dayThree {
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: 0.3s all ease;
}
.dayOne .todayMax, .dayTwo .todayMax, .dayThree .todayMax {
  font-size: 90px !important;
}
.dayOne .todayMin, .dayTwo .todayMin, .dayThree .todayMin {
  font-size: 25px !important;
}

.head ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.head ul li {
  color: white;
  border: 3px rgba(13, 202, 240, 0.2666666667) solid;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: rgba(13, 202, 240, 0.2666666667);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.3s all ease;
  cursor: pointer;
}
.head ul li:hover {
  background-color: rgba(116, 232, 255, 0.7019607843);
}
.head .logo {
  flex: 1;
}

/* A B O U T     C O N T E N T  */
.aboutContent {
  background-color: rgba(82, 226, 255, 0.3294117647);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 60px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 70, 86, 0.473);
}

.myImg img {
  border-radius: 50%;
}
.myImg .name {
  -webkit-animation: spacing 3s 0.3s infinite;
          animation: spacing 3s 0.3s infinite;
}
@-webkit-keyframes spacing {
  0% {
    letter-spacing: 3px;
  }
  20% {
    letter-spacing: 7px;
  }
  40% {
    letter-spacing: 20px;
  }
  60% {
    letter-spacing: 30px;
  }
  100% {
    letter-spacing: 3px;
  }
}
@keyframes spacing {
  0% {
    letter-spacing: 3px;
  }
  20% {
    letter-spacing: 7px;
  }
  40% {
    letter-spacing: 20px;
  }
  60% {
    letter-spacing: 30px;
  }
  100% {
    letter-spacing: 3px;
  }
}
.myImg ul {
  list-style-type: georgian;
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../images/rain.png");
  height: 100%;
  -webkit-animation: rain 0.5s linear infinite;
          animation: rain 0.5s linear infinite;
  transition: 0.3s all ease;
  transform: translateY(-100vh);
}

.rain:hover .item-width {
  background-image: linear-gradient(to bottom, #030420, #000000 70%);
}

.rain:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-animation: lightning 1.5s linear infinite;
          animation: lightning 1.5s linear infinite;
  opacity: 0;
  transition: 0.3s all ease;
  transform: translateY(0vh);
}

@-webkit-keyframes rain {
  0% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes rain {
  0% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes lightning {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 0.7;
  }
  24% {
    opacity: 0;
  }
  104% {
    opacity: 0.7;
  }
}
@keyframes lightning {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 0.7;
  }
  24% {
    opacity: 0;
  }
  104% {
    opacity: 0.7;
  }
}
.item-width:hover .sun {
  transform: translateY(0vh);
}

.item-width:hover .rain {
  transform: translateY(0vh);
}

.sun {
  position: absolute;
  top: -100px;
  left: 350px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
  transition: 0.3s all ease;
  transform: translateY(100vh);
}

.ray_box {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray_box .ray {
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  margin-left: 10px;
  border-radius: 80% 80% 0 0;
  position: absolute;
  opacity: 0.1;
}
.ray_box .ray1 {
  height: 170px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  top: -175px;
  left: 15px;
}
.ray_box .ray2 {
  height: 100px;
  width: 8px;
  -webkit-transform: rotate(220deg);
  top: -90px;
  left: 75px;
}
.ray_box .ray3 {
  height: 170px;
  width: 50px;
  -webkit-transform: rotate(250deg);
  top: -80px;
  left: 100px;
}
.ray_box .ray4 {
  height: 120px;
  width: 14px;
  -webkit-transform: rotate(305deg);
  top: 30px;
  left: 100px;
}
.ray_box .ray5 {
  height: 140px;
  width: 30px;
  -webkit-transform: rotate(-15deg);
  top: 60px;
  left: 40px;
}
.ray_box .ray6 {
  height: 90px;
  width: 50px;
  -webkit-transform: rotate(30deg);
  top: 60px;
  left: -40px;
}
.ray_box .ray7 {
  height: 180px;
  width: 10px;
  -webkit-transform: rotate(70deg);
  top: -35px;
  left: -40px;
}
.ray_box .ray8 {
  height: 120px;
  width: 30px;
  -webkit-transform: rotate(100deg);
  top: -45px;
  left: -90px;
}
.ray_box .ray9 {
  height: 80px;
  width: 10px;
  -webkit-transform: rotate(120deg);
  top: -65px;
  left: -60px;
}
.ray_box .ray10 {
  height: 190px;
  width: 23px;
  -webkit-transform: rotate(150deg);
  top: -185px;
  left: -60px;
}

@-webkit-keyframes ray_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */